<h1><%- ctx.prismicH.asText(document.data.main_title) %></h1>
<%- ctx.prismicH.asHTML(document.data.rich_text) %>
<span>
  <%- ctx.prismicH.asDate(document.data.example_date) %>
</span>
<%- ctx.prismicH.asText(document.data.rich_text) %>
<span>$<%- document.data.example_number %></span>
<h2 class = "color"><%- document.data.example_color %>My favorite color is Red</h2>
<%- document.data.example_embed.html %>
<div class="blog-content">
  <% document.data.body.map(slice => { %>
    <%  if (slice.slice_type == "text_slice") { %>
      <%- include('./slices/TextSlice.ejs', {slice: slice}); %>
    <%} %>
      
    <% if (slice.slice_type == "image_gallery_slice") {%>
      <%- include('./slices/ImageGallery.ejs', {slice: slice}); %>
    <%} %>
  <%}) %>
</div>